.background{
    background-color: #FFFDDB;
}
.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.headerContainer{
    align-self: center;
}
.logo{
    font-family: 'inter', sans-serif;
    align-self: flex-start;
    color: #FFA265;
    font-size: 64px;
    font-weight: bold;
    filter: drop-shadow(3px 4px 2px #cfa78c);
}
.searchbar{
    background-color: #FFA2A2;
    align-self: center;
    width: 500px;
    height: 50px;
    border-radius: 50px;
    box-shadow: inset 2px 2px 5px 1px #c97171;
}