.card-container{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  gap: 10px;
}
.card{
  display: flex;
  justify-content: space-between;
  position: relative;
}
.card-appearance{
  background: #94a0ca;
  height: 200px;
  width: 150px;
  
  display: flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  
  border-radius: 8px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
  
  transition: opacity .1s;
}
.card-appearance:hover{
  opacity: .85;
}
.card-appearance:active{
  transform: scale(99%);
}
.card-image{
  height: 120px;
  padding: 60px 0px 20px 0%;
}
.card-name{
  position: absolute;

  font-size: 10px;

  top: 0;
  left: 0;

  padding: 15px 20px;
}
.card-level-rookie, .card-level-ultimate, .card-level-mega, .card-level-training1, .card-level-training2, .card-level-champion{
  position: absolute;

  border-radius: 3px;

  font-size: 7px;

  top: 0;
  left: 0;

  margin: 33px 20px;
  padding: 2px 4px;
}

.card-level-rookie{
  background: rgb(120, 108, 255);
}
.card-level-ultimate{
  background: rgb(246, 112, 145);
}
.card-level-mega{
  background: rgb(179, 114, 241);
}
.card-level-training1{
  background: rgb(115, 166, 238);
}
.card-level-training2{
  background: rgb(72, 143, 243);
}
.card-level-champion{
  background: rgb(243, 108, 255);
}

.modal-container{
  display: none;
  position:fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .3);
}

.modal-content{
  display: flex;
  background: #5d6688;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 500px;
  height: 400px;
  border-radius: 8px;
  z-index: 99;
}