.darken-bg {
  position: fixed;
 
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;

  background: rgba(0, 0, 0, .7);
 
  z-index: 10;
}

.modal-card {
  position: fixed;
 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 600px;
  width: 900px;

  color: #ffab23;

  border-radius: 15px;

  background: rgb(255, 255, 255);
}

.modal-name {
  position: absolute;
  top: 20%;
  left: 5%;

  font-size: 16px;
}

.modal-exit-btn {
    position: absolute;
    top: 1%;
    right: 1%;

    font-size: 20px;

    color: rgb(255, 85, 85);

    cursor: pointer;
}

.modal-level-header {

}

.modal-level {
  
}

.modal-type-header {

}

.modal-type {
  
}

.modal-image {
  position: absolute;
  top: 50%;
  right: 50%;
}

.modal-attribute-header {

}

.modal-attribute {
  
}

.modal-description-header {

}

.modal-description {
  
}

/* .card-level-rookie{
  background: rgb(120, 108, 255);
}
.card-level-ultimate{
  background: rgb(246, 112, 145);
}
.card-level-mega{
  background: rgb(179, 114, 241);
}
.card-level-training1{
  background: rgb(115, 166, 238);
}
.card-level-training2{
  background: rgb(72, 143, 243);
}
.card-level-champion{
  background: rgb(243, 108, 255);
} */