.darken-bg {
  position: fixed;
 
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;

  background: rgba(0, 0, 0, .7);
 
  z-index: 10;
}

.modal-card {
  position: relative;
 
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 450px;
  width: 650px;

  font-family: 'inter', sans-serif;
  color: #ffab23;

  border-radius: 15px;

  background: #ffffff;
}

.modal-exit-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  font-size: 10px;
  font-family: "Silkscreen", sans-serif;
  color: #f38a8a;

  cursor: pointer;
}

.modal-exit-btn:hover {
  color: #ef4747;
}

.modal-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 100px;

  width: 100%;
}


.modal-header-container {
  display: flex;
  flex-direction: column; 
  align-self: flex-start;

  margin-left: 50px;
  margin-top: -40px;

  flex: 1;
}

.modal-id-type-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1px;

  flex: 1;
}

.modal-id-container {
  display: flex;
}

.modal-name-id {
  color: #a9b9d9;

  font-size: 10px;
}

.modal-type-container {
  display: flex;
  align-items: center;

  background: #70b1f6;
  height: 9px;
  border-radius: 1px;
}

.modal-type {
  color: #ffffff;
  font-size: 7px;
  text-align: center;
  padding: 3px;
}

.modal-name-container {
  display: flex;
}

.modal-name {
  font-size: 20px;
}

.modal-image {
  height: 250px;
}

.modal-filter-container {
  display: flex;
  
  gap: 10px;

  flex: 1;
}

.modal-level-container, .modal-attribute-container {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.modal-level-header, .modal-attribute-header{
  display: flex;
  
  font-size: 10px;
  font-weight: initial;
  font-style: italic;
}

.modal-level, .modal-attribute {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #f67091;
  color: #ffffff;
  font-size: 8px;
  text-align: center;

  border-radius: 4px;
  height: 20px;
  width: 40px;
}

.modal-field-container {
  display: flex;
  flex-direction: column;

  gap: 7px;

  margin-top: 20px;
}

.modal-field-header {
  position: relative;
  display: flex;
  flex-direction: column;

  font-size: 10px;
  font-weight: initial;
  font-style: italic;
}

.modal-field-line {
  position: absolute;
  height: 1px;
  width: 70px;
  background: #ffab23;
  bottom: 0;
}

.modal-field {
  display: flex;
  height: 30px;

  border-radius: 5px;
}

.modal-field-img-container {
  display: flex;

  gap: 20px;
}

/* .modal-description-container {
  bottom: 0;
  right: 0;

  word-break: break-word;
  max-width: 200px;

  margin-top: 90px;
  margin-left: -100px;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.modal-description-header {
  font-size: 10px;
}

.modal-description {
  font-size: 7.5px;
} */