.darken-bg {
  position: fixed;
 
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;

  background: rgba(0, 0, 0, .7);
 
  z-index: 10;
}

.modal-card {
  position: relative;
 
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

  height: auto;
  min-height: 350px;
  width: 580px;

  font-family: 'inter', sans-serif;
  color: #ffab23;

  border-radius: 15px;

  background: #ffffff;

  padding: 50px 30px 25px 30px;
}

.modal-exit-btn {
  position: absolute;
  top: 8px;
  right: 10px;

  font-size: 13px;
  font-family: "Silkscreen", sans-serif;
  color: #f38a8a;

  cursor: pointer;
}

.modal-exit-btn:hover {
  color: #ef4747;
}

.modal-header-container {
  display: flex;
  flex-direction: column; 

  margin-left: 20px;
}

.modal-id-type-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1px;
}

.modal-id-container {
  display: flex;
}

.modal-name-id {
  color: #a9b9d9;

  font-size: 14px;
}

.modal-type-container {
  display: flex;
  align-items: center;

  background: #70b1f6;
  height: 13px;
  border-radius: 1px;
}

.modal-type {
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  padding: 3px;
}

.modal-name-container {
  display: flex;
}

.modal-name {
  font-size: 25px;
}

.modal-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-left-container {
  flex: 1;
}

.modal-image-container {
  display: flex;
  flex: 2;
  margin-left: 40px;
}

.modal-image {
  height: 220px;
}

.modal-right-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 10px;
  margin-top: -40px;
  margin-left: auto;
  margin-right: 30px;
}

.modal-right-sub-container {
  display: flex;
}

.modal-bio-button {
  display: flex;
  align-items: center;
  margin-left: -2px;

  font-size: 20px;
  color: #f67091;
  
  gap: 2px;
}

.modal-bio-triangle {
  margin-top: 3px;
  width: 0;
  height: 0;
  border-radius: 2px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 6px solid #f67091;
}

.modal-right-content-container {
  display: flex;

  gap: 10px;
}

.modal-filter-line {
  align-self: stretch;
  width: 2px;
  height: auto;

  background: #b3d3f3;
  border-radius: 2px;

  margin-top: 2px;
}

.modal-filter-container {
  display: flex;
  flex-direction: column;

  gap: 13px;
}

.modal-level-badge-container {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;

  max-width: 100px;

  gap: 8px;
}

.modal-level-container, .modal-attribute-container {
  display: flex;
  flex-direction: column;

  gap: 6px;
}

.modal-level-header, .modal-attribute-header{
  display: flex;
  flex-direction: column;
  
  color: #98c3ed;
  font-size: 12px;
}

.modal-level, .modal-attribute {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #e97ea7;
  color: #ffffff;
  font-size: 8px;
  text-align: center;

  border-radius: 4px;
  height: 20px;
  width: 40px;
}

.modal-bottom-content-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.modal-next-evolution-container, .modal-previous-evolution-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  
  height: 100%;
  gap: 5px;  
}


.modal-previous-evolution-container {
  flex-direction: row-reverse;
}

.modal-previous-evolution-button, .modal-next-evolution-button {
  display: flex;
  justify-content: center;

  background: #a9b9d9;
  color: white;

  height: 20px;

  border-radius: 4px;
}

.modal-previous-evolution, .modal-next-evolution {
  display: flex;
  align-items: center;

  font-size: 12px;
  padding: 5px;
}

.modal-previous-evolution {
  flex-direction: row-reverse;
}

.modal-previous-evolution-triangle, .modal-next-evolution-triangle {
  width: 5px;
  height: 5px;
  transform: rotate(-45deg);
  border-color: #a9b9d9;

}

.modal-previous-evolution-triangle {
  border-left-width: 2px; 
  border-left-style: solid;
  border-top-width: 2px; 
  border-top-style: solid;
}

.modal-next-evolution-triangle {
  border-right-width: 2px; 
  border-right-style: solid;
  border-bottom-width: 2px; 
  border-bottom-style: solid;
}

.modal-field-container {
  display: flex;
  flex-direction: column;

  gap: 7px;
}

.modal-field-header {
  position: relative;
  display: flex;
  flex-direction: column;

  color: #a9b9d9;
  font-size: 9px;
  font-weight: initial;
  font-style: italic;
}

.modal-field-line {
  position: absolute;
  height: 1px;
  width: 70px;
  background: #a9b9d9;
  bottom: 0;
}

.modal-field {
  display: flex;
  height: 30px;

  border-radius: 5px;
}

.modal-field-img-container {
  display: flex;

  gap: 10px;
}

.modal-bio-button, .modal-name-container {
  text-shadow: 1px 1px 2px rgba(69, 112, 148, 0.2);
}

.modal-level, .modal-attribute, .modal-field,
.modal-previous-evolution-button, .modal-next-evolution-button {
  box-shadow: 1px 1px 2px rgba(69, 112, 148, 0.2);
}

.modal-level, .modal-attribute,
.modal-next-evolution-container,
.modal-previous-evolution-container,
.modal-field, .modal-type-container,
.modal-bio-triangle, .modal-bio-button {
  cursor: pointer;
  transition: opacity .1s;
}

.modal-level:hover, .modal-attribute:hover,
.modal-next-evolution-container:hover,
.modal-previous-evolution-container:hover,
.modal-field:hover, .modal-type-container:hover,
.modal-bio-triangle:hover, .modal-bio-button:hover {
  opacity: .8;
}

.modal-level:active, .modal-attribute:active,
.modal-next-evolution-container:active,
.modal-previous-evolution-container:active,
.modal-field:active, .modal-type-container:active,
.modal-bio-triangle:active, .modal-bio-button:active {
  transform:translateX(.5px) translateY(.5px);
}

.modal-previous-evolution-list-container,
.modal-previous-evolution-list-container,
.modal-previous-evolution-list,
.modal-previous-evolution-list-content,
.modal-previous-evolution-list-name,
.modal-previous-evolution-list-image {
  cursor: default;
  transition: none;
  opacity: 1;
}

.modal-previous-evolution-list-container {
  position: absolute;
  display: none;
}

.modal-previous-evolution-list-container.expanded {
  position: absolute;
  display: flex;

  margin-top: 150px;
  margin-left: 410px;

  border-radius: 12px;

  height: 100px;
  width: 580px;
  background: white;
  color: #a9b9d9;
  justify-content: center;

  padding: 10px;
}

.modal-previous-evolution-list{
  display: flex;
  overflow-y: auto;
  align-items: center;
  gap: 20px;
}

.modal-previous-evolution-list-content {
  display: flex;
  flex-direction: column;
}

.modal-previous-evolution-list-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 50px;
}

.modal-previous-evolution-list-image {
  height: 50px;
}

/* .modal-description-container {
  bottom: 0;
  right: 0;

  word-break: break-word;
  max-width: 200px;

  margin-top: 90px;
  margin-left: -100px;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.modal-description-header {
  font-size: 10px;
}

.modal-description {
  font-size: 7.5px;
} */