.darken-bg {
  position: fixed;
 
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;

  background: rgba(0, 0, 0, .7);
 
  z-index: 10;
}

.modal-card {
  position: relative;
 
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

  height: auto;
  min-height: 350px;
  width: 580px;

  font-family: 'inter', sans-serif;
  color: #ffab23;

  border-radius: 15px;

  background: #ffffff;

  padding: 50px 30px 25px 30px;
}

.modal-exit-btn {
  position: absolute;
  top: 8px;
  right: 10px;

  font-size: 13px;
  font-family: "Silkscreen", sans-serif;
  color: #f38a8a;

  cursor: pointer;
}

.modal-exit-btn:hover {
  color: #ef4747;
}

.modal-header-container {
  display: flex;
  flex-direction: column; 

  margin-left: 20px;

  cursor: default;
}

.modal-id-type-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1px;
}

.modal-id-container {
  display: flex;
}

.modal-name-id {
  color: #a9b9d9;

  font-size: 14px;
}

.tag-container {
  display: flex;
  align-items: center;
  height: 13px;
  border-radius: 1px;
  gap: 5px;
  color: #ffffff;
  font-size: 9px;
  text-align: center;
  padding: 0px 3px 0px 3px;
}

.tag-type {
  background: #70b1f6;
}

.tag-xantibody {
  background: #e07bae;
}

.tag-virus {
  background: #a7da63;
}

.tag-black {
  background: #6e7783;
}

.tag-generic {
  background: #a9b9d9;
}

.modal-name-container {
  display: flex;
}

.modal-name {
  font-size: 25px;
}

.modal-content-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.modal-left-container {
  flex: 1;
}

.modal-image-container {
  display: flex;
  flex: 2;
  margin-left: 20px;
}

.modal-image {
  height: 260px;
}

.modal-right-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 10px;
  margin-left: auto;
  margin-right: 30px;
}

.modal-bio-button {
  display: flex;
  align-items: center;
  margin-left: -2px;

  font-size: 20px;
  color: #f67091;
  
  gap: 2px;
}

.modal-bio-triangle {
  margin-top: 3px;
  width: 0;
  height: 0;
  border-radius: 2px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 6px solid #f67091;
}

.modal-bio-text-container {
  display: none;
}

.modal-right-sub-container.expanded {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-bio-text-container.expanded {
  display: flex;
  width: 250px;
  font-size: 12px;
  font-weight: 400;
  color: #a9b9d9;
  align-self: flex-start;

  max-height: 200px;
  overflow-y: auto;
  
  text-shadow: 1px 1px 2px rgba(69, 112, 148, 0.2);
}

.modal-bio-text {
  padding-right: 15px;
}

.modal-filter-container.expanded {
  display: none;
}

.modal-bio-button.expanded {
  align-self: flex-end;
  transform: translateX(-16px);
}

.modal-bio-triangle.expanded {
transform: translateX(-40px) rotate(180deg);
}

.modal-right-container.expanded {
  align-items: flex-end;
}

.modal-right-content-container {
  display: flex;
  
  gap: 10px;
}

.modal-filter-line {
  align-self: stretch;
  width: 2px;
  height: auto;
  min-width: 2px;

  background: #b3d3f3;
  border-radius: 2px;

  margin-top: 2px;

  flex-shrink: 0;
}

.modal-filter-container {
  display: flex;
  flex-direction: column;

  gap: 13px;
}

.modal-level-badge-container,
.modal-attribute-badge-container {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;

  max-width: 100px;

  gap: 8px;
}

.modal-level-container, .modal-attribute-container {
  display: flex;
  flex-direction: column;

  gap: 6px;
}

.modal-level-header, .modal-attribute-header{
  display: flex;
  flex-direction: column;
  
  color: #98c3ed;
  font-size: 12px;
}

.modal-level, .modal-attribute {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #e97ea7;
  color: #ffffff;
  font-size: 8px;
  text-align: center;

  border-radius: 4px;
  height: 20px;
  width: 40px;
}

.modal-bottom-content-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.modal-next-evolution-container, .modal-previous-evolution-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;

  height: 100%;
  gap: 5px;  
}

.modal-previous-evolution-container {
  flex-direction: row-reverse;
}

.modal-previous-evolution-button, .modal-next-evolution-button {
  display: flex;
  justify-content: center;

  background: #a9b9d9;
  color: white;

  height: 20px;

  border-radius: 4px;

  z-index: 20;
}

.modal-previous-evolution, .modal-next-evolution {
  display: flex;
  align-items: center;

  font-size: 12px;
  padding: 5px;
}

.modal-previous-evolution {
  flex-direction: row-reverse;
}

.modal-previous-evolution-triangle, .modal-next-evolution-triangle {
  width: 5px;
  height: 5px;
  transform: rotate(-45deg);
  border-color: #a9b9d9;

  transition: transform .01s ease;
}

.modal-previous-evolution-triangle {
  border-left-width: 2px; 
  border-left-style: solid;
  border-top-width: 2px; 
  border-top-style: solid;
}

.modal-next-evolution-triangle {
  border-right-width: 2px; 
  border-right-style: solid;
  border-bottom-width: 2px; 
  border-bottom-style: solid;
}

.modal-field-container {
  display: flex;
  flex-direction: column;

  gap: 7px;
}

.modal-field-header {
  position: relative;
  display: flex;
  flex-direction: column;

  color: #a9b9d9;
  font-size: 9px;
  font-weight: initial;
  font-style: italic;
  cursor: default;
}

.modal-field-line {
  position: absolute;
  height: .5px;
  width: 70px;
  background: #a9b9d9;
  bottom: 0;
}

.modal-field {
  display: flex;
  height: 30px;

  border-radius: 5px;
}

.modal-field-img-container {
  display: flex;

  gap: 10px;
}

.modal-bio-button, .modal-name-container {
  text-shadow: 1px 1px 2px rgba(69, 112, 148, 0.2);
}

.modal-level, .modal-attribute, .modal-field,
.modal-previous-evolution-button, .modal-next-evolution-button {
  box-shadow: 1px 1px 2px rgba(69, 112, 148, 0.2);
}

.modal-level, .modal-attribute,
.modal-next-evolution-button,
.modal-previous-evolution-button,
.modal-bio-triangle, .modal-bio-button {
  cursor: pointer;
  transition: opacity .1s;
  transition: transform .01s;
}

.modal-level:hover, .modal-attribute:hover,
.modal-next-evolution-button:hover,
.modal-previous-evolution-button:hover,
.modal-bio-triangle:hover, 
.modal-bio-button:hover {
  opacity: .8;
}

.modal-bio-button:active {
  transform: translateX(-3px);
}
.modal-bio-button.expanded:active {
  transform: translateX(-13px);
}

.modal-level:active,
.modal-attribute:active {
  transform: translateX(.5px) translateY(.5px);
}

.modal-next-evolution-button:active {
  transform: translateX(2px);
}

.modal-previous-evolution-button:active {
  transform: translateX(-2px);
}

.modal-previous-evolution-list-container, 
.modal-next-evolution-list-container {
  display: none;
}

.modal-previous-evolution-list-container.expanded,
.modal-next-evolution-list-container.expanded {
  position: absolute;
  display: flex;

  border-radius: 0px 0px 12px 12px;
  top: 95%;
  transform: translateX(-50%);
  left: 50%;

  height: 100px;
  width: 96.9%;
  background: white;
  color: #a9b9d9;
  justify-content: center;

  padding: 10px;

  z-index: 15;
}

.modal-previous-evolution-triangle.expanded {
  transform: rotate(-135deg);
}


.modal-next-evolution-triangle.expanded {
  transform: rotate(45deg);
}

.modal-previous-evolution-list,
.modal-next-evolution-list {
  display: flex;
  overflow-y: auto;
  align-items: center;
  gap: 20px;
}

.modal-previous-evolution-list-content,
.modal-next-evolution-list-content {
  display: flex;
  flex-direction: column;

  padding: 5px;

  cursor: pointer;
}
.modal-previous-evolution-list-content:hover,
.modal-next-evolution-list-content:hover {
  opacity: .8;
}

.modal-previous-evolution-list-name,
.modal-next-evolution-list-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 50px;
  padding-bottom: 5px;
}

.modal-previous-evolution-list-image,
.modal-next-evolution-list-image {
  height: 50px;
}